.App {
  text-align: center;
}

.mobile-burger {
  width: 1.4rem;
  height: 1.4rem;
  display: none;
  width: 10%;
  color: #66FCF1;
  z-index: 3;
}


.portfolio-icon {
  height: 5rem;
  width: 5rem;
  color: #282c34;
  margin: 1rem 0;
}

.hero-icon {
  height: 4rem;
  width: 4rem;
  color: #66FCF1;
  margin: 2rem 1rem -2rem;
}

@keyframes bounce {
  0% {
    transform: translateY(-20%);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(-20%);
  }
}

.hero-arrow-icon {
  height: 3rem;
  width: 3rem;
  background-color: #66FCF1;
  color: #0b0c10;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 7rem;
  animation-name: bounce;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}


.html-icon {
  color: #e96228;
}

.css-icon {
  color: #2862e9;
}

.js-icon {
  color: #efd81d;
}

.react-icon {
  color: #5ed3f3;
}

.sass-icon {
  color: #c96195;
}

.bs-icon {
  color: #533b78;
}

.git-icon {
  color: #e84e31;
}

.wp-icon {
  color: #015496;
}

@keyframes slideIn {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0);
  }
}

.skills-icon {
  width: 5rem;
  height: 5rem;
  animation: slideIn;
  animation-duration: 2s;
}

/* navbar scroll */
.navbar.active {
  background-color: rgba(11,12,16,1);
  border-bottom: 1px ridge #66FCF1;
}

/* mobile menu */
@media only screen and (max-width: 480px) {
  #mobileMenuActive {
    background-color: rgba(11,12,16,1);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -8rem;
    z-index: 2;
  }

  #mobileMenuActive > a {
    width: 100%;
    text-align: left;
    margin: 2rem;
  }
}

/* form styling */

.form-input {
  font-size: 25px;
  font-weight: 700;
  height: calc(1.5em + 0.75rem + 2px);
  border: 2px solid #66FCF1;
  padding: 10px 17.5px;
  background-color: #0b0c10;
  color: #66FCF1;
  border-radius: 10px;
}

.message-input{
  height: calc(3em + 1.5rem + 4px)
}

.submit-button {
  border: 2px solid #66FCF1;
  padding: 10px 17.5px;
  background-color: #0b0c10;
  color: white;
  border-radius: 4px;
}

.form-label {
  font-size: 30px;
  font-weight: 700;
}


/* responsive design */

@media only screen and (max-width: 480px) {
  .mobile-burger {
    display: block;
  }

  .portfolio-icon {
    height: 4rem;
    width: 4rem;
  }
}