.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portfolio-icon {
  height: 5rem;
  width: 5rem;
  color: #282c34;
  margin: 1rem 0;
}

.html-icon {
  color: #e96228;
}

.css-icon {
  color: #2862e9;
}

.js-icon {
  color: #efd81d;
}

.react-icon {
  color: #5ed3f3;
}

.sass-icon {
  color: #c96195;
}

.bs-icon {
  color: #533b78;
}

.git-icon {
  color: #e84e31;
}

.wp-icon {
  color: #015496;
}

.skills-icon {
  width: 5rem;
  height: 5rem;
}